html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}
p{
  margin: 0;
  margin-bottom: 10px;
}
a{
  display: inline-block;
  margin-right: 8px;
}

.am-button-icon{
  vertical-align: bottom;
}

.placeholder{
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.inline{
  display: inline-block;
  /* margin: 8px; */
  min-width: 80px;
}

/* 自定义badge */
.special-badge .am-badge {
  transform: rotate(45deg);
  transform-origin: right bottom;
  right: 0;
  top: 6px;
  width: 50px;
}
.special-badge .am-badge-text {
  border-radius: 1px;
}
.corner-badge {
  height: 50px;
  width: 200px;
}
